

.container {
    margin: 20px; /* Margem externa ao redor do container */
    padding: 20px; /* Espaçamento interno (margem interna) para o conteúdo dentro do container */
    background-color: #ce2222; /* Cor de fundo do container (ajuste conforme necessário) */
  }

  .container2 {
    margin: 20px; /* Margem externa ao redor do container */
    padding: 0px; /* Espaçamento interno (margem interna) para o conteúdo dentro do container */
    background-color: #720f0f; /* Cor de fundo do container (ajuste conforme necessário) */
  }

.lista-filmes {
    display: flex; /* Torna os elementos filhos flexíveis */
    flex-wrap: wrap; /* Quebra para a próxima linha quando não couberem na largura */
    justify-content:center;
    gap: 80px; /* Distribui o espaço entre os elementos */
     /* Espaço entre os elementos (pode ser ajustado conforme necessário) */
  }
  
  .filme-item {
    flex: 0 1 calc(30% - 200px); /* Define a largura desejada para cada item (ajuste conforme necessário) */
    text-align: center;
    border-radius: 40px;
    background-color: aliceblue;
  }
  
  .filme-item img {
    max-width: 85%; /* Garante que a imagem não ultrapasse o tamanho do contêiner pai */
  }
  .acessar-link {
    display: block;
    text-align: center;
    margin-top: 10px; /* Adicione margem superior conforme necessário */
    text-decoration: none;
    color: #007bff; /* Cor do link (ajuste conforme necessário) */
  }
  
  .title-filme{
       
      font-size: 20px;
    

  }

  .lista-filmes a {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    font-size: 20px;
    background-color:rgb(41, 121, 121);
    margin: 30px;
    border-radius: 30px;
    color: white;
  }
  
  
  
.name-categori{
display: flex;
text-align: left;
justify-content: left;
margin: 30px;
margin-top: 50px;
font-size: 40px;
background-color: #007bff;



}